<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E816780B1DE6A0CD00FA6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81678271DE6A0CE00FA6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E81678321DE6A0CE00FA6BE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
